.menu {
  height: 100vh;
  width: 300px;
  background-color: $gray;
  position: fixed;
  top: 0px;
  right: -300px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s linear;

  li {
    position: relative;
    margin-bottom: 2em;
    &::after {
      content: "";
      height: 3px;
      width: 100%;
      background-color: rgb(247, 91, 169);
      position: absolute;
      bottom: -5px;
      left: -5px;
      transform-origin: left;
      transform: scale(0, 1);
      transition: all 0.3s linear;
    }
    &:hover::after,
    &:hover a {
      transform: scale(1, 1);
      opacity: 1;
    }
    a {
      color: white;
      opacity: 0.8;
      font-size: 30px;
    }
  }
  &.active {
    right: 0;
  }
}
